* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* header*/
.header{
    width: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.header_logo{
    width: 20%;
    margin-left: 410px;

    }
.navegador {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgb(226, 43, 119);
    color: blanchedalmond;
    color: black;
    margin: 10px;
    padding: 10px;
}   
/*footer*/
footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 43, 119);
    color: aliceblue;
}
.footergeneral {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.footer_redessociales{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_corporativo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_nuestroshoteles {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_ubicación {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

/*titulos*/

/*index*/
.portada {
    width: 400px;
    height: 550px;
    padding: 10px;
    margin: 10px;
}
.portada_titulo {
    display: inline-block;
    text-align: center
}
.portada_imagen:hover{
    width: 100%;
    padding: 10px;
    margin: 10px;
    transform: scale(1.5,1.5);
    transition: 1s;
}
.portada_texto {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.reservarhab {
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-style:double;
    border color; rgb(226, 43, 119); 
}
.reservarhab_datos {
    margin: 5px;
    padding: 5px; 
}


/*habitaciones*/
.habitaciones_img {
    display:inline-block;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}
.habitaciones_descripcion {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
/*contacto*/
.contacto {
    margin: 10px;
    padding: 10px;
}
.contacto_borde {
    border:solid 2px;
}
.contacto_cotizacion{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.contacto_titulos {
    color:black;
    font-weight: bold;
}
.puestoslaborales {
    width: 450px;
    margin: 10px;
    padding: 10px;
}
.puestoslaborales_img {
    width: 100%
}
.puestoslaborales_tarjeta {
    display: block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: black;
}
/*nuestrohotel*/
.historia{
    margin: 10px;
    padding: 10px;
}
.historia_texto {
    display: inline-block;
    margin: 10px;
    pad: 10px;
    text-align: center;
}
.historia_video{
    margin: 10px;
    padding-left: 100px;
}
.misionyvalores {
    padding: 10px;
    margin: 10px;
}
/*ubicación*/
.ubicacion {
    padding: 10px;
    margin: 10px;
}
.ubicacion_mapa {
    margin-left: 100px;
    padding: 10px;
}

/*reuniones y eventos*/
.eventos { 
    margin: 10px;
    padding: 10px;
}
.eventos_img {
    width: 350px;
    height: 250px;
    padding-left: 100px;
    margin: 10px;
}
.eventos_cotizar{
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: rgb(179, 28, 86);
    color: black;
    }